html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    height: auto;
    overflow: hidden auto;
    flex-grow: 1;
    background-color: white;
}

.member_list {
    padding: 8px;
}

.member_list h1 {
    font-size: larger;
    margin: 0px;
}

.room_list {
    padding: 8px;
}

.room_list h1 {
    font-size: larger;
    margin: 0px;
}


.summary_container {
    padding: 8px;
}

.brief_summary {
    display: flex;
    align-items: center;
    height: 80px;
}

.brief_summary div:not(.group_image_replacement) {
    padding: 8px;
}

#icon {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 80px;
    background-color: black;
}

.group_image_replacement {
    background-color: black;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    display: flex;
    padding: 0px;
}

.group_image_replacement p {
    margin: auto;
    color: white;
}

#long_description {
    margin: 16px;
    height: 100px;
    overflow: auto;
    display: none;
}